.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #007991; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #78ffd6,
    #007991
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #78ffd6,
    #007991
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.name {
  margin-top: 5px;
 padding-top: 20px;
}


#email{
    margin-left: 15S0px;
    align-items: center;
}